extends layout

block scripts
  script(type='text/javascript').
      function ClearValue(element_id) {
          document.getElementById(element_id).value = ""
      }




block content
  <form action="/register" method="post">
    //<input type="checkbox" name="ch1" value="true" checked/>emotion<br><br>
    //<input type="checkbox" name="ch2" value="true" checked/>sentiment<br><br>
    |url:<input type="text" name="purl" id="purl" style="width:600px" value="#{pinurl}" />&nbsp;&nbsp;
    <input type="button" value="Очистить" onClick="ClearValue('purl')" /><br><br>
    |JSON: <input type="checkbox" name="pch2" value="true" #{ppch2} />&nbsp;&nbsp;&nbsp;&nbsp;
    |count entities:<input type="text" name="txt" value="#{pcountentities}"/>&nbsp;&nbsp;&nbsp;&nbsp;
    |count keywords:<input type="text" name="txt1" value="#{pcountkeywords}"/>&nbsp;&nbsp;&nbsp;&nbsp;
    |relevance:<input type="text" name="prelevance" value="#{prelevance}"/>&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="submit"  value="Отправить"/><br><br>
    <textarea name="t1" style="width:616px;height:231px;z-index:4;rows=13">#{intxt}</textarea>
    <textarea name="t2" style="width:516px;height:231px;z-index:4;rows=13">#{outjson}</textarea><br><br>
    //<textarea name="t3" style="width:316px;height:231px;z-index:4;rows=13">#{keywords}</textarea>
    <textarea name="t4" style="width:280px;height:231px;z-index:4;rows=13">#{playerfull}</textarea>
    <textarea name="t5" style="width:280px;height:231px;z-index:4;rows=13">#{event}</textarea>
    <textarea name="t6" style="width:280px;height:231px;z-index:4;rows=13">#{tournamentStage}</textarea>
    <textarea name="t7" style="width:280px;height:231px;z-index:4;rows=13">#{transfer}</textarea>
    //<input type="submit" value="Отправить" />
  </form>

